<!DOCTYPE html>
<html lang="en">
<head>
  <title>Basic Programs</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div style="background-color: aquamarine; height: 100%; width: 100%;">
    <h1 align="center">Basic Programs</h1>
    <h2 align="center">Basic programs in C and Python</h2>
</div>
<div>
<img src= "{{url_for('static', filename='1.png')}}">     
</div>
</body>
</html> 